*{
    margin:0;
    padding:0;
    border: none;
}
.sidebar {
    background-color: #192433;
    padding: 0 40px;
    width: 1022px;
    height: 50px;
    line-height: 50px;
    font-family: sans-serif;
    color: white;
    margin: auto;
    border-radius: 5px;
}
ul {
    float: right;
}
li {
    display: inline;
    transition: 0.3s;
    padding: 12px 18px;
}
 
.logo {
    float: left;
    cursor: pointer;
}
 
li a {
    color: white;
    text-decoration: none;
}
 
.icon {
    float: right;
    display: none;
}
ul li:hover{
    background-color:#009688;
    border-radius: 3px;
    transition: 0.3s;
}
ul.cap_2 {
    width: 200px;
    height: 450px;
    border: 1px solid #192433;
    background-color: #192433;
    position: absolute;
    top: 40px;
    left: -13px;
    box-shadow: 2px 2px 4px 1px #00000057;
    display: none;
    border-radius: 5px;
}
 
ul.cap_2 li {
    display: block;
    color: white;
    border-bottom: 1px solid white;
    padding: 0;
    text-align: center;
    cursor: pointer;
}
 
ul.cap_2 li:last-child {
    border: none;
}
 
li{
    position: relative;
}
li:hover ul.cap_2 {
    display: block;
}
@media(max-width:1100px){
    ul{
        display: none;
    }
    ul.active {
        margin: 0;
        background-color:black;
        width: 100%;
        height: 100%;
        position: fixed;
        top:50px;
        left: 0px;
        display: block;
    }
    ul li{
        display: block;
        text-align: center;
        border-bottom: 1px solid white
    }
    .icon{
        display: block;
    }
    ul.cap_2{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        left: 0px;
    }
}.thanhlogo {
    width: 100%;
    height: 100px;
    background-color: #FED700;

}

.logo-search {
    width: 1100px;
    background-color: #FED700;
    height: 100px;
    margin: auto;
}

.logo img {
    width: 150px;
    height: 100px;
}

.search {
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

#thanhTimKiem {
    margin-top: 7px;
    border: 1px solid #ddd;
    width: 250px;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
}
.timKiem {
    border: none;
    width: 95px;
    height: 36px;
    border-radius: 5px;
    float: right;
    margin-top: 7px;
    margin-left: 10px;
    text-align: center;
}

.timKiem:hover {
    background-color: #ddd;
}

.cart {
    float: right;
    background-color: #ffff;
    width: 120px;
    margin-right: 60px;
    height: 36px;
    border-radius: 5px;
    float: right;
    margin-top: 28px;
    text-align: center;
}

.cart:hover {
    background-color:#ddd;
}

.cart i,
a {
    color:black;
    text-align: center;
    text-decoration: none;
}
#bocngoai {
    width: 100%;
    height: 50px;
    background-color: #192433;
}

.register {
    border: none;
    width: 100px;
    height: 36px;
    border-radius: 5px;
    float: right;
    margin-top: 28px;
    margin-right: 10px;
    background-color: #ffffff;
    color: black;
}

.login:hover {
    background-color: #ddd;
}

.register:hover {
    background-color: #ddd;
}
.previous {
    background-color: hsl(56, 89%, 49%);
    color: white;
    margin-left: 600px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
}

.next {
    background-color: hsl(56, 89%, 49%);
    color: white;
    margin-right: 600px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
}


.round {
    border-radius: 50%;
}
.register{
    float: right;
    text-align: center;
    line-height: 30px;
}
